.title {
  padding: 2em;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #7dfabb;
  padding: 0 32px;
}
.background-orbit {
  height: 100%;
  width: 500px;
}
.magicpattern1 {
  z-index: 0;
  right: 20%;
  bottom: -150%;
  position: absolute;
  width: 40%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M596.5 711.5Q256 923 283.5 548T624 336.5q313 163.5-27.5 375Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%2369c5fa%22 d=%22M596.5 711.5Q256 923 283.5 548T624 336.5q313 163.5-27.5 375Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  animation: rotate-slow 60s linear infinite;
}
.magicpattern2 {
  z-index: 0;
  right: 5%;
  bottom: -70%;
  position: absolute;
  width: 20%;
  height: 30%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M596.5 711.5Q256 923 283.5 548T624 336.5q313 163.5-27.5 375Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%2369c5fa%22 d=%22M596.5 711.5Q256 923 283.5 548T624 336.5q313 163.5-27.5 375Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  animation: rotate-left 40s linear infinite;
}

.magicpattern3 {
  z-index: 0;
  right: 60%;
  bottom: -40%;
  position: absolute;
  width: 30%;
  height: 30%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M596.5 711.5Q256 923 283.5 548T624 336.5q313 163.5-27.5 375Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%2369c5fa%22 d=%22M596.5 711.5Q256 923 283.5 548T624 336.5q313 163.5-27.5 375Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  animation: rotate-right 60s linear infinite;
}
.magicpattern4 {
  z-index: 0;
  right: 20%;
  bottom: -50%;
  position: absolute;
  width: 30%;
  height: 30%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M596.5 711.5Q256 923 283.5 548T624 336.5q313 163.5-27.5 375Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%2369c5fa%22 d=%22M596.5 711.5Q256 923 283.5 548T624 336.5q313 163.5-27.5 375Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  animation: rotate-right 60s linear infinite;
}
.magicpattern5 {
  z-index: 0;
  right: 70%;
  bottom: -85%;
  position: absolute;
  width: 34%;
  height: 30%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M596.5 711.5Q256 923 283.5 548T624 336.5q313 163.5-27.5 375Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%2369c5fa%22 d=%22M596.5 711.5Q256 923 283.5 548T624 336.5q313 163.5-27.5 375Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  animation: rotate-right 60s linear infinite;
}
@keyframes rotate-right {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-left {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate-slow {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
.orbit {
  padding-top: 10em;
  display: flex;
  justify-content: center;
  z-index: 10;
  &__center {
    position: relative;
    &-img {
      width: 4.7rem;
      position: absolute;
      transition: opacity 0.3s;
      transform: translate(-50%, -50%);

      &:not(:first-child):hover {
        opacity: 0;
      }
    }
  }
  .icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    transform-origin: center;
    animation: orbit 60s linear infinite;
    background-color: red;
    padding: 0;
    margin: 0;
    &:hover {
      animation-play-state: paused;
      & * {
        animation-play-state: paused;
      }
    }
    li {
      position: absolute;
      @for $i from 0 through 8 {
        &:nth-child(#{$i}) {
          --throb-delay: #{500ms * $i};
        }
      }
      img {
        width: 3rem;
        padding: 0.3em;
        border-radius: 50%;
        animation: orbit 60s linear reverse infinite,
          throb 1s var(--throb-delay) ease-in-out infinite alternate;
      }
    }
    li:nth-child(1) {
      transform: translate(7rem, 0rem);
    }
    li:nth-child(2) {
      transform: translate(5rem, 5rem);
    }
    li:nth-child(3) {
      transform: translate(0rem, 7rem);
    }
    li:nth-child(4) {
      transform: translate(-5rem, 5rem);
    }
    li:nth-child(5) {
      transform: translate(-7rem, 0rem);
    }
    li:nth-child(6) {
      transform: translate(-5rem, -5rem);
    }
    li:nth-child(7) {
      transform: translate(0rem, -7rem);
    }
    li:nth-child(8) {
      transform: translate(5rem, -5rem);
    }
    &__css {
      box-shadow: 0px 8px 15px rgb(41, 53, 160);
    }
    &__html {
      box-shadow: 0px 8px 15px rgba(153, 19, 19, 0.445);
    }
    &__ts {
      box-shadow: 0px 8px 15px rgba(53, 11, 170, 0.493);
    }
    &__js {
      box-shadow: 0px 8px 15px rgba(194, 197, 11, 0.425);
    }
    &__bootstrap {
      box-shadow: 0px 8px 15px rgba(172, 15, 164, 0.5);
    }
    &__vsc {
      box-shadow: 0px 8px 15px rgba(11, 108, 187, 0.897);
    }
    &__figma {
      box-shadow: 0px 8px 15px rgba(219, 20, 159, 0.856);
    }
    &__api {
      box-shadow: 0px 8px 15px rgba(20, 83, 219, 0.856);
    }
    &__react {
      box-shadow: 0px 8px 15px rgba(20, 83, 219, 0.856);
    }
  }
}

@keyframes orbit {
  100% {
    rotate: 1turn;
  }
}

@keyframes throb {
  100% {
    scale: 1.15;
  }
}
@media (min-width: 768px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
  .title {
    padding-top: 39.84px;
    font-size: 3rem;
  }
}
@media (min-width: 1600px) {
}
@media (min-width: 1800px) {
}
