.title {
  padding: 2em;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #7dfabb;
  padding: 0 32px;
}
.background-orbit {
  height: 100%;
  width: 500px;
}
.orbit {
  padding-top: 10em;
  display: flex;
  justify-content: center;
  &__center {
    position: relative;
    &-img {
      width: 4.7rem;
      position: absolute;
      transition: opacity 0.3s;
      transform: translate(-50%, -50%);

      &:not(:first-child):hover {
        opacity: 0;
      }
    }
  }
  .icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    transform-origin: center;
    animation: orbit 60s linear infinite;
    background-color: red;
    padding: 0;
    margin: 0;
    &:hover {
      animation-play-state: paused;
      & * {
        animation-play-state: paused;
      }
    }
    li {
      position: absolute;
      @for $i from 0 through 8 {
        &:nth-child(#{$i}) {
          --throb-delay: #{500ms * $i};
        }
      }
      img {
        width: 3rem;
        padding: 0.3em;
        border-radius: 50%;
        animation: orbit 60s linear reverse infinite,
          throb 1s var(--throb-delay) ease-in-out infinite alternate;
      }
    }
    li:nth-child(1) {
      transform: translate(7rem, 0rem);
    }
    li:nth-child(2) {
      transform: translate(5rem, 5rem);
    }
    li:nth-child(3) {
      transform: translate(0rem, 7rem);
    }
    li:nth-child(4) {
      transform: translate(-5rem, 5rem);
    }
    li:nth-child(5) {
      transform: translate(-7rem, 0rem);
    }
    li:nth-child(6) {
      transform: translate(-5rem, -5rem);
    }
    li:nth-child(7) {
      transform: translate(0rem, -7rem);
    }
    li:nth-child(8) {
      transform: translate(5rem, -5rem);
    }
    &__css {
      box-shadow: 0px 8px 15px rgb(41, 53, 160);
    }
    &__html {
      box-shadow: 0px 8px 15px rgba(153, 19, 19, 0.445);
    }
    &__ts {
      box-shadow: 0px 8px 15px rgba(53, 11, 170, 0.493);
    }
    &__js {
      box-shadow: 0px 8px 15px rgba(194, 197, 11, 0.425);
    }
    &__bootstrap {
      box-shadow: 0px 8px 15px rgba(172, 15, 164, 0.5);
    }
    &__vsc {
      box-shadow: 0px 8px 15px rgba(11, 108, 187, 0.897);
    }
    &__figma {
      box-shadow: 0px 8px 15px rgba(219, 20, 159, 0.856);
    }
    &__api {
      box-shadow: 0px 8px 15px rgba(20, 83, 219, 0.856);
    }
    &__react {
      box-shadow: 0px 8px 15px rgba(20, 83, 219, 0.856);
    }
  }
}

@keyframes orbit {
  100% {
    rotate: 1turn;
  }
}

@keyframes throb {
  100% {
    scale: 1.15;
  }
}
@media (min-width: 768px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
  .title {
    padding-top: 39.84px;
    font-size: 3rem;
  }
}
@media (min-width: 1600px) {
}
@media (min-width: 1800px) {
}
