.projects {
  max-width: 900px;
  margin: 0 auto;
  &-title {
    padding-top: 2em;
    margin: 0 0 1em 1em;
  }
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2em;
    &-box {
      cursor: pointer;
      background: #000;
      background-image: url(../../assets/ShoesShop.png);
      width: 380px;
      height: 220px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      &--img {
        transition: opacity 0.3s;
      }
      &--description {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.726);
        width: 380px;
        height: 250px;
        opacity: 0;
        transition: opacity 0.3s;
        &:not(:first-child):hover {
          opacity: 1;
        }
        p {
          margin: 2em 3em 0em 3em;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          font-size: 1.2em;
          color: #7dfabb;
        }
      }
    }
  }
}
