.visible {
  display: none;
}
.nav {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  margin-bottom: 1em;
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
    max-width: 300px;
    padding: 1em;
    background-color: rgba(98, 0, 255, 0.753);
    a {
      color: black;
      font-size: 1.5rem;
    }
  }
}
