.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #7a48ff;
  color: #7dfabb;
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2em;
    padding: 0.5em 0;
    &-title {
      font-size: 1.4em;
    }
  }
  &__container {
    background-color: #7a48ff;
    height: 100vh;
    margin-top: 1em;
    max-width: 100%;
    &-links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 2em;
      background-color: #7dfabb;
      color: #8442ff;
      margin: 0 1em;
      border-radius: 120px;
      &--link {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 100%;
        padding: 0.5em 0;
        transition: 0.3s;
      }
      &--link::after,
      &--link::before {
        content: "";
        position: absolute;
        transition: 0.3s;
      }
      &--link::before {
        top: 5px;
        left: -15px;
        border-top: 0 solid#8442ff;
        border-left: 0 solid#8442ff;
      }

      &--link::after {
        bottom: 5px;
        right: -15px;
        border-bottom: 0 solid#8442ff;
        border-right: 0 solid#8442ff;
      }
      &--link:hover::after,
      &--link:hover::before {
        width: 25px;
        height: 25px;
      }
      &--link:hover:before {
        top: 5px;
        left: -15px;
        border-top: 3px solid#8442ff;
        border-left: 3px solid#8442ff;
      }

      &--link:hover::after {
        bottom: 5px;
        right: -15px;
        border-bottom: 3px solid#8442ff;
        border-right: 3px solid#8442ff;
      }
      .line {
        width: 100%;
        border: 5px solid #8442ff;
      }
    }
    &-icons {
      margin-top: 2em;
      font-size: 2em;
      margin: 2em 1em;
      a {
        border-radius: 20px;
        color: #8442ff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 0;
        height: 100%;
        width: 100%;
        background-color: #7dfae9;
      }
      &-icon {
        margin-top: 2em;
        height: 100%;
      }
      &-icon:hover {
      }
      .line {
        width: 100%;
        border: 5px solid #8442ff;
      }
    }
  }
  .visible {
    display: none;
  }
}
.menu {
  --s: 25px; /* control the size */
  --c: #7dfabb; /* the color */
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000)
    repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}
