$blue: #69c5fa;
$green: #7dfabb;
$white: white;
$black: black;

$background-color: #7a48ff;
$background-color-black: black;

$background-color-contact1: #69c5fa52;
$background-color-contact2: #35596e80;

$background-color-footer1: #197fbe;
$background-color-footer2: #06351d;
